.container {
  position: sticky;
  position: -webkit-sticky;
  top: 1.5rem;

  .title {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    color: var(--gray-100);
  }

  .topics {
    list-style: none;
  
    a {
      font-size: 0.875rem;
      display: inline-block;
      color: var(--gray-400);
      text-decoration: none;
      transition: 0.2s;
      line-height: 1.5;
  
      &.active {
        font-weight: 700;
        background-clip: text;
        background: var(--pink-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  
      &:hover {
        text-decoration: underline;
        color: var(--gray-100);
      }
    }
  
    li + li {
      margin-top: 0.725rem;
    }
  }
}
