.wrapper {
  max-width: 1120px;  
  margin: 0 auto;
  padding: 0 2rem;

  section.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 5rem;

    @media(max-width: 425px) {
      flex-direction: column;
      margin: 2rem 0 3rem;
    }

    div.avatar {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      overflow: hidden;
    }

    p {
      padding: 0 0 0 2rem;
      flex: 1;
      line-height: 1.6;

      @media(max-width: 425px) {
        padding: 2rem 0.5rem;
        text-align: center;
      }
    }
  }

  section.posts {
    margin-bottom: 3rem;
  }
}